## Example - difi on THOR

[Assumed Inputs](#Assumed-Inputs)  
[Analyzing Observations](#Analyzing-Observations-(Can-I-Find-It%3F))  
[Analyzing Linkages](#Analyzing-Linkages-(Did-I-Find-It%3F))

In [1]:
import os
import sys
import numpy as np
import pandas as pd

sys.path.append("..")

import difi

In [2]:
DATA_DIR = "data/thor/"

### Assumed Inputs

Lets take a look at a sample observations file used by the THOR software.

In [3]:
observations = pd.read_csv(os.path.join(DATA_DIR, "projected_obs.txt"), sep=" ", index_col=False)

In [4]:
observations

,obsId,visitId,fieldId,fieldRA_deg,fieldDec_deg,exp_mjd,night,designation,code,mjd_utc,...,HEclObsy_X_au,HEclObsy_Y_au,HEclObsy_Z_au,EccAnom,TrueAnom,PosAngle_deg,theta_x_deg,theta_y_deg,theta_x_eq_deg,theta_y_eq_deg
0,2762372,446,446,176.282918,4.230249,59740.246528,59740,NS,NaN,NaN,...,-0.192653,-0.996779,0.000045,NaN,NaN,NaN,0.489358,2.817035,1.717123,2.787966
1,144825,446,446,176.282918,4.230249,59740.246528,59740,b2059,I11,59740.246528,...,-0.192653,-0.996779,0.000045,125.676341,129.980599,108.604453,-0.641889,2.190939,0.346042,2.563633
2,144824,446,446,176.282918,4.230249,59740.246528,59740,b1866,I11,59740.246528,...,-0.192653,-0.996779,0.000045,140.549907,147.632484,122.050248,1.372264,0.791495,1.686559,0.279560
3,144823,446,446,176.282918,4.230249,59740.246528,59740,b1839,I11,59740.246528,...,-0.192653,-0.996779,0.000045,258.896559,250.194633,119.132929,-0.009073,1.042414,0.456107,1.103462
4,144822,446,446,176.282918,4.230249,59740.246528,59740,b1539,I11,59740.246528,...,-0.192653,-0.996779,0.000045,46.326690,52.505146,113.130574,1.716755,0.621586,1.946502,-0.042785
5,144821,446,446,176.282918,4.230249,59740.246528,59740,b1474,I11,59740.246528,...,-0.192653,-0.996779,0.000045,119.709166,127.918445,130.267875,1.104170,2.431128,2.151497,2.137097
6,144820,446,446,176.282918,4.230249,59740.246528,59740,b1466,I11,59740.246528,...,-0.192653,-0.996779,0.000045,212.840821,207.915614,126.843938,0.102350,0.515342,0.329567,0.502012
7,144826,446,446,176.282918,4.230249,59740.246528,59740,b2080,I11,59740.246528,...,-0.192653,-0.996779,0.000045,257.213574,245.918476,138.790294,-1.270692,1.931149,-0.372587,2.534027
8,144819,446,446,176.282918,4.230249,59740.246528,59740,b1381,I11,59740.246528,...,-0.192653,-0.996779,0.000045,198.005796,195.210983,121.170538,1.223943,1.661516,1.930031,1.268023
9,144817,446,446,176.282918,4.230249,59740.246528,59740,b0578,I11,59740.246528,...,-0.192653,-0.996779,0.000045,113.426548,116.543209,119.622949,0.236565,1.059000,0.701295,1.022722
10,144816,446,446,176.282918,4.230249,59740.246528,59740,b0575,I11,59740.246528,...,-0.192653,-0.996779,0.000045,158.277270,159.508574,126.688680,-0.132734,2.048803,0.777813,2.215701
11,144815,446,446,176.282918,4.230249,59740.246528,59740,b0574,I11,59740.246528,...,-0.192653,-0.996779,0.000045,169.258968,171.520452,124.271865,1.729266,1.860337,2.513772,1.278541
12,144814,446,446,176.282918,4.230249,59740.246528,59740,b0519,I11,59740.246528,...,-0.192653,-0.996779,0.000045,200.319654,197.615788,123.019898,1.085174,2.442434,2.137810,2.156628
13,144813,446,446,176.282918,4.230249,59740.246528,59740,b0430,I11,59740.246528,...,-0.192653,-0.996779,0.000045,133.908231,140.056581,127.126457,0.257459,2.412897,1.315606,2.448970
14,144812,446,446,176.282918,4.230249,59740.246528,59740,b0243,I11,59740.246528,...,-0.192653,-0.996779,0.000045,212.847636,206.449038,122.713195,0.339336,2.102362,1.260200,2.087587
15,144818,446,446,176.282918,4.230249,59740.246528,59740,b1312,I11,59740.246528,...,-0.192653,-0.996779,0.000045,300.582424,297.907265,116.636076,-0.122672,2.139852,0.827166,2.308008
16,144827,446,446,176.282918,4.230249,59740.246528,59740,b2209,I11,59740.246528,...,-0.192653,-0.996779,0.000045,191.432608,190.491738,120.249308,0.371807,1.367985,0.969264,1.295954
17,144828,446,446,176.282918,4.230249,59740.246528,59740,b2364,I11,59740.246528,...,-0.192653,-0.996779,0.000045,359.025675,358.868946,117.774927,1.935686,0.925594,2.298219,0.193060
18,144829,446,446,176.282918,4.230249,59740.246528,59740,b2819,I11,59740.246528,...,-0.192653,-0.996779,0.000045,142.846013,146.550547,111.400284,-0.258503,1.149289,0.262187,1.315675
19,144844,446,446,176.282918,4.230249,59740.246528,59740,b7982,I11,59740.246528,...,-0.192653,-0.996779,0.000045,229.746217,220.053045,121.876309,1.127684,2.499945,2.204645,2.201329
20,144843,446,446,176.282918,4.230249,59740.246528,59740,b7971,I11,59740.246528,...,-0.192653,-0.996779,0.000045,271.134786,253.195827,115.741216,0.548109,2.598605,1.679963,2.532996
21,144842,446,446,176.282918,4.230249,59740.246528,59740,b7693,I11,59740.246528,...,-0.192653,-0.996779,0.000045,141.628891,145.741741,116.799552,1.540522,2.298957,2.522019,1.823631
22,144841,446,446,176.282918,4.230249,59740.246528,59740,b6708,I11,59740.246528,...,-0.192653,-0.996779,0.000045,217.631985,212.169405,112.882798,0.549877,1.037790,0.995881,0.874511
23,144840,446,446,176.282918,4.230249,59740.246528,59740,b6177,I11,59740.246528,...,-0.192653,-0.996779,0.000045,97.333027,104.983755,116.829604,0.507006,0.013344,0.495200,-0.193434
24,144839,446,446,176.282918,4.230249,59740.246528,59740,b5576,I11,59740.246528,...,-0.192653,-0.996779,0.000045,298.176415,295.309795,114.352086,-0.114052,0.750863,0.225458,0.837786
25,144838,446,446,176.282918,4.230249,59740.246528,59740,b4732,I11,59740.246528,...,-0.192653,-0.996779,0.000045,198.352153,195.497998,109.351002,-0.531299,-0.029408,-0.523680,0.185466
26,144837,446,446,176.282918,4.230249,59740.246528,59740,b4728,I11,59740.246528,...,-0.192653,-0.996779,0.000045,166.698781,168.802472,113.055235,1.388233,0.672519,1.648576,0.146104
27,144836,446,446,176.282918,4.230249,59740.246528,59740,b4699,I11,59740.246528,...,-0.192653,-0.996779,0.000045,194.425311,191.376023,125.867047,-0.431968,1.760970,0.362555,2.028971
28,144835,446,446,176.282918,4.230249,59740.246528,59740,b4631,I11,59740.246528,...,-0.192653,-0.996779,0.000045,234.477352,227.622422,118.163230,0.157817,0.596673,0.419462,0.565499
29,144834,446,446,176.282918,4.230249,59740.246528,59740,b3996,I11,59740.246528,...,-0.192653,-0.996779,0.000045,58.179493,66.675275,108.348352,-0.188931,0.018730,-0.173389,0.096772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231774,9995647,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.712400,6.106632,0.856743,6.586335
231775,9995620,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.693124,4.358630,0.215840,4.877910
231776,9995621,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.067031,6.269234,1.504321,6.533682
231777,9995622,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.326366,5.659777,2.550066,5.470437
231778,9995623,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.103469,6.084798,2.316401,6.034073
231779,9995624,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.179085,5.521526,2.362425,5.383737
231780,9995625,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,1.068985,4.966122,2.966479,4.528503
231781,9995626,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.172017,4.198123,1.533051,4.198233
231782,9995627,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.156286,3.732059,1.650267,3.623413
231783,9995628,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.643596,3.912793,0.089393,4.426392
231784,9995629,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.480867,4.016507,2.057894,3.790870
231785,9995630,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.278965,6.485401,2.305437,6.486253
231786,9995631,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.904661,6.024015,1.560970,6.240434
231787,9995632,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.692930,4.791326,1.287532,4.960984
231788,9995633,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.443015,5.943917,1.040901,6.339674
231789,9995634,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.940877,4.122455,0.805285,4.389725
231790,9995635,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.629661,5.868556,2.908007,5.574375
231791,9995636,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.376457,3.924143,1.926367,3.736046
231792,9995637,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.606050,4.779287,0.454790,5.258496
231793,9995638,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.628841,5.120176,2.621485,4.833256
231794,9995639,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.095703,3.690176,0.497716,4.019745
231795,9995640,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.728994,5.920171,0.772406,6.410417
231796,9995641,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.083959,4.765404,1.985933,4.669555
231797,9995642,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.629866,4.386916,2.338775,4.105908
231798,9995643,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,1.311839,4.444324,2.986940,3.924373
231799,9995644,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-1.633733,4.647429,0.379629,5.139286
231800,9995645,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.397771,5.671301,1.891218,5.725727
231801,9995646,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,0.271479,5.143088,2.302602,4.978408
231802,9995648,7676,476,179.445195,7.392527,59752.267361,59752,NS,NaN,NaN,...,0.009552,-1.016288,0.000046,NaN,NaN,NaN,-0.651816,3.410506,0.790154,3.590484
231803,2141015,7676,476,179.445195,7.392527,59752.267361,59752,01388,I11,59752.267361,...,0.009552,-1.016288,0.000046,246.931315,242.272408,130.692955,-1.977228,5.973888,0.567367,6.543764

In [5]:
observations.columns

Index(['obsId', 'visitId', 'fieldId', 'fieldRA_deg', 'fieldDec_deg', 'exp_mjd',
       'night', 'designation', 'code', 'mjd_utc', 'Delta_au', 'RA_deg',
       'Dec_deg', 'dDelta/dt_au_p_day', 'dRA/dt_deg_p_day',
       'dDec/dt_deg_p_day', 'VMag', 'Alt_deg', 'PhaseAngle_deg',
       'LunarElon_deg', 'LunarAlt_deg', 'LunarPhase', 'SolarElon_deg',
       'SolarAlt_deg', 'r_au', 'HLon_deg', 'HLat_deg', 'TLon_deg', 'TLat_deg',
       'TOCLon_deg', 'TOCLat_deg', 'HOCLon_deg', 'HOCLat_deg', 'TOppLon_deg',
       'TOppLat_deg', 'HEclObj_X_au', 'HEclObj_Y_au', 'HEclObj_Z_au',
       'HEclObj_dX/dt_au_p_day', 'HEclObj_dY/dt_au_p_day',
       'HEclObj_dZ/dt_au_p_day', 'HEclObsy_X_au', 'HEclObsy_Y_au',
       'HEclObsy_Z_au', 'EccAnom', 'TrueAnom', 'PosAngle_deg', 'theta_x_deg',
       'theta_y_deg', 'theta_x_eq_deg', 'theta_y_eq_deg'],
      dtype='object')

There are potentially many different columns that carry useful information depending on the use case. To get `difi` to work we only need to let it know about two columns in the observations dataframe: i) the observation ID column and ii) the truth column. Note that it is totally viable to not know what object every single observation belongs to. You can set flags appropriately to account for these objects. 

Lets also take a look at an example output from the THOR linking algorithm.

In [6]:
linkageMembers = pd.read_csv(os.path.join(DATA_DIR, "clusterMembers.txt"), sep=" ", index_col=False)

In [7]:
linkageMembers

        cluster_id    obsId
0                1   146778
1                1  1457822
2                1  1457597
3                1  8762195
4                1  2131794
5                2   803967
6                2  5192185
7                2  1465807
8                2  8789778
9                2  9994899
10               3  2788786
11               3   801593
12               3  1463382
13               3  1799059
14               3  2137121
15               4  5124233
16               4  1108512
17               4  1439908
18               4  7518417
19               4  2114059
20               5   474978
21               5  3989837
22               5   802351
23               5  1130734
24               5  2137312
25               6  2788247
26               6   801593
27               6  1463382
28               6  1799059
29               6  2137121
...            ...      ...
605010      113266  5126304
605011      113266  5126213
605012      113266  1447583
605013      113266  1783025
605014      113266  2121622
605015      113267   461165
605016      113267  1450194
605017      113267  1791225
605018      113267  2130067
605019      113267  2129617
605020      113268   460357
605021      113268   787835
605022      113268   788917
605023      113268  1791946
605024      113268  2129988
605025      113269  6322470
605026      113269  7519596
605027      113269  1776308
605028      113269  2115147
605029      113269  2115557
605030      113270   463355
605031      113270  1119558
605032      113270  1790761
605033      113270  1790019
605034      113270  2128529
605035      113271   456627
605036      113271  1111563
605037      113271  7520178
605038      113271  1783291
605039      113271  2121719

[605040 rows x 2 columns]

The linkage dataframe has just two columns, both of which `difi` needs. The first column has the linkage ID, then for each linkage each unique observation in that linkage is listed in the second column. 

Lets take a look at two specific examples:

In [8]:
linkageMembers[linkageMembers["cluster_id"] == 4]

    cluster_id    obsId
15           4  5124233
16           4  1108512
17           4  1439908
18           4  7518417
19           4  2114059

In [9]:
linkageMembers[linkageMembers["cluster_id"] == 14]

    cluster_id    obsId
66          14   145253
67          14   794486
68          14  6363315
69          14  7559849
70          14  9966076

Between the observations and linkageMembers dataframe, `difi` needs to know about just three columns:
- linkage_id: the ID assigned to each linkage
- obs_id : the observation ID from which linkages are made
- truth : the truth for every observation

So lets define a dictionary that tells `difi` what columns to use for this information.

In [10]:
columnMapping = {
    # difi column name : data column name
    "linkage_id" : "cluster_id",
    "obs_id" : "obsId",
    "truth" : "designation"
}

### Analyzing Observations (Can I Find It?)

Determing how a linking algorithm performs involves knowing what it should be able to link. `difi` comes with a function that analyzes findablility with a simple assumption: any truths with at least x many observations should be findable. We leave it to the user to determine more complicated findability metrics for their specific science cases. 

Lets see what should be findable with THOR with this simple metric.

In [11]:
allTruths, summary = difi.analyzeObservations(observations,
                                              minObs=5,
                                              unknownIDs=[],
                                              falsePositiveIDs=["NS"],
                                              verbose=True,
                                              columnMapping=columnMapping)

Analyzing observations...
Known truth observations: 128734
Unknown truth observations: 0
False positive observations: 103070
Percent known truth observations (%): 55.536
Percent unknown truth observations (%): 0.000
Percent false positive observations (%): 44.464
Unique truths: 24450
Unique known truths : 24449
Unique known truths with at least 5 detections: 18273

Total time in seconds: 0.22783470153808594

The `analyzeObservations` function returns two dataframes. Let's take a look both of them in a little detail. 

The allTruths dataframe lists each unique truth as a row with columns that account for the number of observations that each unique truth has and also if it is findable (if it has more than `minObs` observations).

In [12]:
allTruths

      designation  num_obs  findable
0              NS   103070         0
1           99955        8         1
2           00828        8         1
3         K10O64R        8         1
4           R8294        8         1
5           I4512        8         1
6         K11B44S        8         1
7           W8603        8         1
8           Q5248        8         1
9           D7237        8         1
10          G8622        8         1
11          K7242        8         1
12        K15RO8B        8         1
13        K06UP5L        8         1
14          L2861        8         1
15          36945        8         1
16          d9240        8         1
17          n3142        8         1
18          D2338        8         1
19        K08S41F        8         1
20          61011        8         1
21          e5504        8         1
22          l4254        8         1
23        K01U41N        8         1
24          10510        8         1
25        K09V86B        7         1
26        K16EB3A        7         1
27          23279        7         1
28          Y9574        7         1
29          L8178        7         1
...           ...      ...       ...
24420       p3061        1         0
24421     K13G07T        1         0
24422     K17B78G        1         0
24423       k4421        1         0
24424       30207        1         0
24425     K14R10Y        1         0
24426       H2451        1         0
24427     K14Wa5J        1         0
24428       d3483        1         0
24429       42003        1         0
24430     K15U59V        1         0
24431       I9593        1         0
24432     K15BD1N        1         0
24433     K14UB7Q        1         0
24434     K15BT8L        1         0
24435     K04TA5S        1         0
24436       T3765        1         0
24437       C5070        1         0
24438       I4302        1         0
24439       Z3915        1         0
24440       R5459        1         0
24441     K18B01S        1         0
24442       Q8668        1         0
24443       M0475        1         0
24444       C4612        1         0
24445     K12V19P        1         0
24446       C3884        1         0
24447       d7494        1         0
24448       U0575        1         0
24449       j2616        1         0

[24450 rows x 3 columns]

One can trivially select the objects that should or should not be findable thanks to `pandas`.

In [13]:
findable_known_truths = allTruths[allTruths["findable"] == 1]["designation"].unique()
not_findable_known_truths = allTruths[(allTruths["findable"] == 0) & (~allTruths["designation"].isin(["NS"]))]["designation"].unique()

As stated earlier, the `analyzeObservations` function has a very simple findability criteria. The user can write their own metric and then generate a dataframe in the same style as the one above. Doing so will allow `difi` to calculate summary statistics, however, this is not necessary to proceed with determining if truths were linked.

Before we go to seeing how THOR performed, lets take a look at the summary dataframe.

In [14]:
summary

,num_unique_truths,num_unique_known_truths,num_unique_known_truths_findable,num_known_truth_observations,num_unknown_truth_observations,num_false_positive_observations,percent_known_truth_observations,percent_unknown_truth_observations,percent_false_positive_observations
0,24450,24449,18273,128734,0,103070,55.535711,0.0,44.464289

In [15]:
summary.columns

Index(['num_unique_truths', 'num_unique_known_truths',
       'num_unique_known_truths_findable', 'num_known_truth_observations',
       'num_unknown_truth_observations', 'num_false_positive_observations',
       'percent_known_truth_observations',
       'percent_unknown_truth_observations',
       'percent_false_positive_observations'],
      dtype='object')

The summary dataframe is a very simple single row dataframe with some summary numbers about the given observations. 

A few things to note: any observations with truths that are either unknownIDs or falsePositiveIDs are ignored when counting the number of truths that should be findable. For example, in the function call a fews cell earlier the `falsePositiveIDs` kwarg was set to `["NS"]`.

In [16]:
allTruths[allTruths["findable"] == 0].head()

      designation  num_obs  findable
0              NS   103070         0
18274       Q3224        4         0
18275     K15RJ2O        4         0
18276       U0828        4         0
18277       A3895        4         0

### Analyzing Linkages (Did I Find It?)

In [17]:
allLinkages, allTruths, summary = difi.analyzeLinkages(observations, 
                                                       linkageMembers, 
                                                       allLinkages=None, 
                                                       allTruths=allTruths,
                                                       summary=summary,
                                                       minObs=5, 
                                                       contaminationThreshold=0.2, 
                                                       unknownIDs=[],
                                                       falsePositiveIDs=["NS"],
                                                       verbose=True,
                                                       columnMapping=columnMapping)

Analyzing linkages...
Known truth pure linkages: 29441
Known truth partial linkages: 9418
Unknown truth pure linkages: 0
Unknown truth partial linkages: 0
False positive pure linkages: 341
False positive partial linkages: 60
Mixed linkages: 74011
Total linkages: 113271
Mixed linkage percentage (%): 65.340
Unique known truths linked: 11780
Unique known truths missed: 6493
Completeness (%): 64.467

Total time in seconds: 0.9671170711517334

The `analyzeLinkages` function returns three dataframes:
- allLinkages: each linkage is summarized as its own row. 
- allTruths: each truth is summarized as its own row. 
- summary: summary statistics in a single row. 

Lets now take a look at each individually.

In [18]:
allLinkages[allLinkages["mixed"] == 1]

,cluster_id,num_members,num_obs,pure,partial,mixed,contamination,linked_truth
0,1,5,5,0,0,1,NaN,NaN
1,2,3,5,0,0,1,NaN,NaN
2,3,5,5,0,0,1,NaN,NaN
3,4,4,5,0,0,1,NaN,NaN
4,5,5,5,0,0,1,NaN,NaN
5,6,5,5,0,0,1,NaN,NaN
6,7,4,5,0,0,1,NaN,NaN
7,8,3,5,0,0,1,NaN,NaN
8,9,5,5,0,0,1,NaN,NaN
9,10,3,5,0,0,1,NaN,NaN
10,11,4,5,0,0,1,NaN,NaN
11,12,3,6,0,0,1,NaN,NaN
12,13,5,5,0,0,1,NaN,NaN
13,14,3,5,0,0,1,NaN,NaN
14,15,5,5,0,0,1,NaN,NaN
15,16,3,5,0,0,1,NaN,NaN
16,17,4,5,0,0,1,NaN,NaN
17,18,5,5,0,0,1,NaN,NaN
18,19,5,5,0,0,1,NaN,NaN
19,20,4,5,0,0,1,NaN,NaN
20,21,4,5,0,0,1,NaN,NaN
21,22,4,5,0,0,1,NaN,NaN
22,23,2,5,0,0,1,NaN,NaN
24,25,3,5,0,0,1,NaN,NaN
26,27,5,5,0,0,1,NaN,NaN
27,28,5,5,0,0,1,NaN,NaN
28,29,3,5,0,0,1,NaN,NaN
29,30,3,5,0,0,1,NaN,NaN
30,31,5,5,0,0,1,NaN,NaN
31,32,3,5,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...
113240,113241,3,5,0,0,1,NaN,NaN
113241,113242,4,5,0,0,1,NaN,NaN
113242,113243,4,5,0,0,1,NaN,NaN
113243,113244,5,5,0,0,1,NaN,NaN
113244,113245,4,5,0,0,1,NaN,NaN
113245,113246,5,5,0,0,1,NaN,NaN
113247,113248,4,5,0,0,1,NaN,NaN
113248,113249,5,5,0,0,1,NaN,NaN
113249,113250,5,5,0,0,1,NaN,NaN
113250,113251,5,5,0,0,1,NaN,NaN
113251,113252,5,5,0,0,1,NaN,NaN
113252,113253,6,6,0,0,1,NaN,NaN
113253,113254,3,5,0,0,1,NaN,NaN
113254,113255,4,5,0,0,1,NaN,NaN
113255,113256,4,5,0,0,1,NaN,NaN
113256,113257,5,5,0,0,1,NaN,NaN
113257,113258,3,5,0,0,1,NaN,NaN
113258,113259,3,5,0,0,1,NaN,NaN
113259,113260,4,5,0,0,1,NaN,NaN
113260,113261,4,5,0,0,1,NaN,NaN
113261,113262,5,5,0,0,1,NaN,NaN
113262,113263,4,5,0,0,1,NaN,NaN
113263,113264,3,5,0,0,1,NaN,NaN
113264,113265,5,5,0,0,1,NaN,NaN
113265,113266,4,5,0,0,1,NaN,NaN
113266,113267,5,5,0,0,1,NaN,NaN
113267,113268,5,5,0,0,1,NaN,NaN
113268,113269,4,5,0,0,1,NaN,NaN
113269,113270,5,5,0,0,1,NaN,NaN
113270,113271,5,5,0,0,1,NaN,NaN

For each cluster defined in the `linkageMembers` format, the number of unique 'truths' is counted ('num_members'), the number of unique observations in each linkage ('num_obs'), whether the linkage is 'pure', 'partial' or 'mixed', the contamination percentage (if the linkage is considered 'partial') and if the linkage is either 'pure' or 'partial' then the linked truth ('linked_truth').  

Here we briefly summarize the different linkage types possible:
- 'pure': all observations in a linkage belong to a unique truth
- 'partial': up to a certain percentage of non-unique thruths are allowed so along as one truth has at least the minimum require number of unique observations
- 'mixed': a linkage containing different observations belonging to different truths, we avoid using the word 'false' for these clusters as they may contain unknown truths depending on the use case. We leave interpretation up to the user.

In [19]:
allTruths

      designation  num_obs  findable  found_pure  found_partial  found
0              NS   103070         0           1              1      1
1           99955        8         1           1              0      1
2           00828        8         1           1              1      1
3         K10O64R        8         1           1              0      1
4           R8294        8         1           0              0      0
5           I4512        8         1           0              1      1
6         K11B44S        8         1           1              1      1
7           W8603        8         1           1              1      1
8           Q5248        8         1           0              0      0
9           D7237        8         1           1              0      1
10          G8622        8         1           0              0      0
11          K7242        8         1           1              0      1
12        K15RO8B        8         1           1              1      1
13        K06UP5L        8         1           1              1      1
14          L2861        8         1           1              0      1
15          36945        8         1           1              1      1
16          d9240        8         1           1              1      1
17          n3142        8         1           1              1      1
18          D2338        8         1           1              1      1
19        K08S41F        8         1           0              0      0
20          61011        8         1           1              1      1
21          e5504        8         1           1              0      1
22          l4254        8         1           1              1      1
23        K01U41N        8         1           1              0      1
24          10510        8         1           0              0      0
25        K09V86B        7         1           0              0      0
26        K16EB3A        7         1           0              0      0
27          23279        7         1           1              1      1
28          Y9574        7         1           1              0      1
29          L8178        7         1           1              1      1
...           ...      ...       ...         ...            ...    ...
24420       p3061        1         0           0              0      0
24421     K13G07T        1         0           0              0      0
24422     K17B78G        1         0           0              0      0
24423       k4421        1         0           0              0      0
24424       30207        1         0           0              0      0
24425     K14R10Y        1         0           0              0      0
24426       H2451        1         0           0              0      0
24427     K14Wa5J        1         0           0              0      0
24428       d3483        1         0           0              0      0
24429       42003        1         0           0              0      0
24430     K15U59V        1         0           0              0      0
24431       I9593        1         0           0              0      0
24432     K15BD1N        1         0           0              0      0
24433     K14UB7Q        1         0           0              0      0
24434     K15BT8L        1         0           0              0      0
24435     K04TA5S        1         0           0              0      0
24436       T3765        1         0           0              0      0
24437       C5070        1         0           0              0      0
24438       I4302        1         0           0              0      0
24439       Z3915        1         0           0              0      0
24440       R5459        1         0           0              0      0
24441     K18B01S        1         0           0              0      0
24442       Q8668        1         0           0              0      0
24443       M0475        1         0           0              0      0
24444       C4612        1         0           0              0      0
24445     K12V19P        1         0           0              0      0
24446       C3884        1         0           0              0      0
24447       d7494        1         0           0              0      0
24448       U0575        1         0           0              0      0
24449       j2616        1         0           0              0      0

[24450 rows x 6 columns]

The allTruths dataframe shows for each truth if it has been found in either a pure or partial linkage. If found in either it sets the found column to 1. 

Lastly, the summary dataframe contains overall statistics on the number of truths found, the completeness (if calculable) and so on...

In [20]:
summary

,num_unique_truths,num_unique_known_truths,num_unique_known_truths_findable,num_known_truth_observations,num_unknown_truth_observations,num_false_positive_observations,percent_known_truth_observations,percent_unknown_truth_observations,percent_false_positive_observations,num_unique_known_truths_found,num_unique_known_truths_missed,percent_completeness,num_known_truths_pure_linkages,num_known_truths_partial_linkages,num_unknown_truths_pure_linkages,num_unknown_truths_partial_linkages,num_false_positive_pure_linkages,num_false_positive_partial_linkages,num_mixed_linkages,num_total_linkages
0,24450,24449,18273,128734,0,103070,55.535711,0.0,44.464289,11780,6493,64.4667,29441,9418,0,0,341,60,74011,113271

Notice that we passed the allTruths dataframe as a kwarg to the `analyzeLinkages` function, this allows the function to access the 'findable' column and calculate completeness. You do not need to pass the allTruths dataframe nor the summary dataframe to use `analyzeLinkages`. Below is an example.

In [21]:
observations = pd.read_csv(os.path.join(DATA_DIR, "projected_obs.txt"), sep=" ", index_col=False)
linkageMembers = pd.read_csv(os.path.join(DATA_DIR, "clusterMembers.txt"), sep=" ", index_col=False)

allLinkages, allTruths, summary = difi.analyzeLinkages(observations, 
                                                       linkageMembers, 
                                                       minObs=5, 
                                                       contaminationThreshold=0.2, 
                                                       unknownIDs=[],
                                                       falsePositiveIDs=["-1"],
                                                       verbose=True,
                                                       columnMapping=columnMapping)

Analyzing linkages...
Known truth pure linkages: 29782
Known truth partial linkages: 9478
Unknown truth pure linkages: 0
Unknown truth partial linkages: 0
False positive pure linkages: 0
False positive partial linkages: 0
Mixed linkages: 74011
Total linkages: 113271
Mixed linkage percentage (%): 65.340
Unique known truths linked: 11781
Unique known truths missed: nan
Completeness (%): nan

Total time in seconds: 1.1861398220062256

../difi/difi.py:271: UserWarning: No 'findable' column was found in allTruths. Cannot compute completeness.
  warnings.warn("No 'findable' column was found in allTruths. Cannot compute completeness.", UserWarning)